.mainLabel {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    text-align: center;
}
.mainSelect {
    font-size: 1.3rem;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    padding: 0.1rem 0 0.2rem 1rem;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(158, 158, 158, 0.75);
}
.formCalculator {
    @include medium-up {
        display: flex;
        justify-content: space-around;
    }
    .formContent {
        @include medium-up {
            width:40%;
        }
        select {
            margin-left: 0.4rem;
            padding:  0.1rem 0.4rem;
            border-radius: 0.4rem; 
        }
        .radio {
            display: inline-block;
            padding: 0 0.4rem;
            label {
                padding-left: 0.4rem;
            }
        }
    }
    .images {
        margin: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        img {
            width: 50%;
            box-shadow: 0px 0px 5px 0px rgba(158, 158, 158, 0.75);
            border-radius: 0.4rem;
        }
        @include medium-up {
            width: 40%;
        }
    }
}
