main.container {
    padding: 2rem 0;
    @include desktop-medium-up {
        width: 80%;
        margin: 0 auto;
    }
    @include desktop-up {
        width: 45%;
    }
}
.mainLabel {
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    text-align: center;
}
.mainSelect {
    font-size: 1.3rem;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    padding: 0.1rem 1rem;
    text-align: center;
    box-shadow: 0px 0px 5px 0px rgba(158, 158, 158, 0.75);
}
.formCalculator {
    margin: 1.5rem 0;
    @include medium-up {
        display: flex;
        justify-content: space-between;
    }
    .formContent {
        @include medium-up {
            width:48%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .parameter {
            border-bottom: 1px solid #ccc;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            &:last-child {
                border: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }       
        }
        select {
            margin-left: 0.4rem;
            padding:  0.1rem 0.4rem;
            border-radius: 0.4rem; 
        }
        .radioLabel {
            @include medium-up {
                display: block;
                margin-bottom: 0.5rem
            }
        }
        .radio {
            display: inline-block;
            padding: 0 0.4rem;
            label {
                padding-left: 0.4rem;
            }
        }
    }
    .images {
        margin: 1rem auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include medium-up {
            width: 48%;
            margin: 1rem 0;
        }
        .image {
            height: 150px;
            width: 48%;
            background-position: center center;
            background-repeat: no-repeat;
            overflow: hidden;
            box-shadow: 0px 0px 5px 0px rgba(158, 158, 158, 0.75);
            border-radius: 0.4rem;
            &:nth-child(-n + 2){
                margin-bottom: 1rem;
            }
        }
    }
}