$medium: 600px;
$large: 1024px;

//site variables

$text-font: 'Dosis', sans-serif;
$logo-font: 'Amatic SC', cursive;
$bg-color: #f6f5f3;
$text-color: #444;
$headings-color: #412518;
$logo-background: #412518;
$button-background: #795d43;
$button-background-disabled: #c7ad96;
$button-color-disabled: #ecdfd2;