$medium: 600px;
$large: 1024px;

$text-font: 'Dosis', sans-serif;
$text-color: #444;
$headings-color: #412518;

$logo-font: 'Amatic SC', cursive;
$logo-background: #412518;

$bg-color: #f6f5f3;
$bg-second-color: #dbd3cb;
$details-color: #bfb9b3;

$button-background: #795d43;
$button-background-disabled: #dbd3cb;
$button-color-disabled: #ecdfd2;